body{
	color: #555;
  	font-size: 100%;
  	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h1{
	font-size: 1.5em;
}
h2{
	font-size: 1.2em;
}
/*EXEMPLO TITULO*/
.titulo::before{
	content: "\2660";
	padding-right: 5px;
	font-size: 1.5em;
	position: relative;
}
/*BOX COM OS EXEMPLOS*/
.elemento{
	width: 800px;
	margin: 10px auto;
}
input, textarea{
  width: 100%;
  margin-bottom: 10px;
}
input:focus,
textarea:focus{
  outline: 0;
  border:3px solid deeppink;
}