body{
	color: #555;
  	font-size: 1.5em;
  	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
/*EXEMPLO TITULO*/
.titulo::before{
	content: "\2660";
	padding-right: 5px;
	font-size: 1.5em;
	position: relative;
}
/*BOX COM OS EXEMPLOS*/
.box{
	width: 300px;
	margin: 10px auto;
}
h2{
	font-size: 1em;
}
/*EXEMPLO 1 - MUDANDO A COR DO TEXTO QUE TEM DIRECIONALIDADE DA ESQUERDA PRA DIREITA*/
p:-moz-dir(ltr){
	color: deeppink;
}
/*EXEMPLO 2 - MUDANDO A COR DO TEXTO QUE TEM DIRECIONALIDADE DA DIREITA PRA ESQUERDA*/
p:-moz-dir(rtl){
	color: red;
}