@import url(https://fonts.googleapis.com/css?family=Roboto:700,100);
*, ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
html{
  width: 100%;
  height: 100%;
}
body{
  font-family: 'Roboto', sans-serif;;
  font-size: 100%;
  margin: 0;
  padding: 0;
  background: url('http://icon-icons.com/icons2/335/PNG/256/Death_Star_2nd_35408.png') bottom right fixed no-repeat,
              url('https://i.ytimg.com/vi/voWpbz1De_M/maxresdefault.jpg');
}
h1{
  width: 100%;
  height: auto;
  float: left;
  margin: 2% 0 0 0;
  text-align: center;
  font-weight: 100;
  color: #FF1493;
  font-size: 4em;
}
h1:before{
  content: "</";
}
h1:after{
  content: ">";
}
