body{
	color: #555;
  	font-size: 1.5em;
  	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
/*EXEMPLO TITULO*/
.titulo::before{
	content: "\2660";
	padding-right: 5px;
	font-size: 1.5em;
	position: relative;
}
/*MUDANDO O BACKGROUND E COLOR*/
.link{
	width: 800px;
	margin: 10px auto;
}
.link a:active{
	background-color: deeppink;
	color: #FFF;
}
